<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp</title>
  </head>
  <body>
    <h1><%= campground.title %></h1>
    <h2><%= campground.location %></h2>
    <p>$<%= campground.price %></p>
    <p><%= campground.description %></p>
    <p>
      <a href="/campgrounds/<%= campground.id %>/edit">Edit Campground</a>
    </p>
    <form method="POST" action="/campgrounds/<%= campground.id %>/?_method=DELETE">
      <button type="submit">Delete Campground</button>
    </form>
    <p>
      <a href="/campgrounds">All Campgrounds</a>
    </p>
  </body>
</html>
