<%- layout('layouts/boilerplate') -%>
<div class="row">
  <div class="col-md-6">
    <div class="card mb-4">
      <img src="<%= campground.image %>" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= campground.location %></li>
        <li class="list-group-item">$<%= campground.price %>/night</li>
      </ul>
      <%_ if (user && campground.author.equals(user._id)) { _%>
      <div class="card-body">
        <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-primary">Edit</a>
        <form class="d-inline" method="POST" action="/campgrounds/<%= campground.id %>/?_method=DELETE">
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
      <%_ } _%>
      <div class="card-footer">
        <small class="text-muted">Submitted by: <%= campground.author.username %></small>
      </div>
    </div>
  </div>
  <div class="col-md-6">
  <%_ if (user) { _%>
    <h1 class="text-center">Leave a Review</h1>
    <form method="POST" action="/campgrounds/<%= campground._id %>/reviews" class="needs-validation mb-4" novalidate>
      <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <select class="form-select" id="rating" name="review[rating]" required>
          <option value="" selected>Rate this campground</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a rating.</div>
      </div>
      <div class="mb-3">
        <label for="text" class="form-label">Description</label>
        <textarea class="form-control" id="text" name="review[text]"></textarea>
      </div>
      <button type="submit" class="btn btn-success">Submit Review</button>
    </form>
  <%_ } _%>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Reviews</h4>
      </div>
      <ul class="list-group list-group-flush">
      <%_ if (campground.reviews.length === 0) { _%>
        <li class="list-group-item"><em>No reviews have been left for this campground.</em></li>
      <%_ } else { _%>
      <%_   for (let review of campground.reviews.reverse()) { _%>
        <li class="list-group-item">
          <h5>Rating: <%= review.rating %></h5>
          <p style="white-space: pre-line"><%= review.text %></p>
          <div class="d-flex justify-content-between align-items-end mb-2">
            <div class="text-muted">
              <small><%= review.author.username %></small>
              <span>•</span>
              <small class="date fst-italic"><%= review._id.getTimestamp().toISOString() %></small>
            </div>
            <%_ if (user && user.equals(review.author._id)) { _%>
            <form method="POST" action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE">
              <button class="btn btn-sm btn-danger" type="submit">Delete</button>
            </form>
            <%_ } _%>
          </div>
        </li>
      <%_   } _%>
      <%_ } _%>
      </ul>
    </div>
  </div>
</div>
